/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow run nf-core/epigen -profile test
 */

params {
  config_profile_name = 'Test profile for SimpleSEIRDModel'
  config_profile_description = 'Minimal test dataset to check pipeline function'
  // Limit resources so that this can run on Travis
  max_cpus = 2
  max_memory = 6.GB
  max_time = 48.h
  
  // Input data california, minnesota
  // before running test profile run bash bin/download_data_czb.sh if testing with czb data
  // if not running with czb data replace the following newicks with your own data
  newicks = [
  'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/newicks/tree_california.nwk',
  'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/newicks/tree_minnesota.nwk'
  ]
  gisaid_metadata = 'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/gisaid/metadata.tsv'
  gisaid_sequences = 'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/gisaid/sequences_subsampled.tsv'
  population_csv = 'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/population.csv'
  num_samples_csv = 'https://raw.githubusercontent.com/czbiohub/test-datasets/epigen/testdata/epigen/num_samples.csv'
  model_type = "SimpleSEIRDModel"
  incubation_time = 5.5
  recovery_time = 14
  haar_full_mass = 7
  mortality_rate = 0.2
}
